<div class="card">
  <div class="cover">
    <img src="<%=book.cover_image_url %>" alt="<%= book.title + " cover" %>">
  </div>

  <div class="content">
    <figure class="main-info">
      <figcaption>
          <h3 class="book-title"><%=book.title %></h3>
          <span class="book-author">by <%=book.author %></span>
      </figcaption>
    </figure>
    <p class="meta">
      <% // get only date
        let dateRead = 
          new Date(book.date_read)
          .toUTCString()
          .slice(0, 16); 

          // use stars for book rating
          let star = '⭐'; 
          let bookRating = star.repeat(book.rating); 
      %>
      <span><%= dateRead %></span>
      <span><%= bookRating %></span>
    </p>

    <p class="notes"><%= book.summary %></p>

    <div class="card-actions">
      <a href="/books/<%= book.id %>/edit" class="btn secondary">
        <img src="/assets/icons/edit icon.png" alt="edit icon">
      </a>

      <form action="/books/<%= book.id %>?_method=DELETE" method="POST">
        <button class="btn danger">
          <img src="/assets/icons/delete icon.png" alt="delete icon">
        </button>
      </form>
    </div>
  </div>
</div>