<%- include('../partials/header', { title: "Edit Book" }) %>

<div class="home btn ">
          <a href="/" class="btn">Home</a>
</div>

<form action="/books/<%= book.id %>?_method=PUT" method="POST" class="form">
  <input name="title" value="<%= book.title %>" required />
  <input name="author" value="<%= book.author %>" />
  
  <input name="date_read" type="date" value="<%=book.date_read %>" />
  <input name="rating" type="number" min="1" max="5" value="<%= book.rating %>" />

  <textarea name="notes"><%= book.summary %></textarea>

  <div class="form-actions">
          <button class="btn primary">Update</button>
          <a href="/" class="btn">Cancel</a>
        </div>
</form>

<%- include('../partials/footer') %>